.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr) .1fr 1fr .3fr;
    grid-template-rows: 1fr 1.1fr 1fr 5fr .1fr 1.4fr 4fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
    header { grid-area: 1 / 1 / 2 / 6; }
    .div2 { 
        grid-area: 2 / 1 / 4 / 3; 
        outline: solid blue;
    }
    .div6 { 
        grid-area: 2 / 3 / 3 / 5; 
    outline:solid lightcyan;
    }
    .div3 { 
        grid-area: 4 / 2 / 5 / 5;
        outline: solid coral;
    }
    .div4 { 
        grid-area: 5 / 1 / 6 / 3; 
        outline:solid forestgreen;
    }
    .div5 { 
        grid-area: 5 / 3 / 6 / 5; 
        outline: solid orange;
    }
    