*,html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family:"sacramento"; */
    /* font-family: 'Bodoni Moda', serif; */
    /* font-family: 'Genos', sans-serif; */
    /* font-family: 'Gluten', cursive; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: sans-serif; */
    /* font-family: 'Borel', cursive; */
    /* font-family: "ouma-latin-variable",sans-serif; */
    /* font-variation-settings: 'wght' 100; */
    /* font-family: "gyst-variable",sans-serif; */
    /* font-variation-settings: 'wght' 100; */
    /* font-family: "acumin-pro", sans-serif; */
    /* font-weight: 400; */
    /* font-style: normal; */
    /* font-family: "kepler-std-semicondensed-dis", serif; */
      
}


:root{
    --beige:#F5E7E0;
    --beige2:#c7b79eac;
    --blue:#0D00A4;
    --blue2:#0300235c;
    --white:#fff7f7cf;
    --black:#1C1C1C;
    /* button time */
    --b-time:.2s;
    /* global curve */
    --g-c:1.5em;
    /* minimal curve */
    --m-c:4px;
    --margin-s: 1rem;
}
body{
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /* outline: solid blue; */
    background:var(--beige);
    overflow: hidden;
    background-position: 0px -10px;
    
}
.logo{
    display:inline-flex;
    text-decoration: none;
    /* background-color: coral; */
    margin:var(--margin-s);
    height: 90px;
    font-family: 'Bodoni Moda', serif;
 }
 

 .logo span, .section1 span{
    font-size: 5rem ;
    margin: 0px;
    z-index: 100;  
    font-family: 'Bodoni Moda', serif; 
    
 }
 header{
    background-color:#F5E7E0;
 }
 header span {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--blue);
    -webkit-text-stroke: 1px var(--blue);
    background-clip: transparent;
    z-index: 100;     
    color: transparent;
    line-height: 90%;
 }
     .logo .spanone{
        translate: 0px 25px ;
     }

/* background of the glass section */
.background{
  display: grid;
  grid-template-columns: .8fr 5fr .1fr;
  grid-template-rows:.5fr .5fr 1fr;
  
  position: absolute;
  bottom: 0;
  right: 0;
  top:0em;
  width: 75vw;
  background-image: url(../assets/moring-wall.png);
  row-gap: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--beige2);
  box-shadow: 3px 3px 4px rgba(0,0,0,0.1) inset,
  3px 3px 10px rgba(0,0,0,0.2) inset;
  border-radius: 10pc 0pc 0pc var(--m-c) ;
  
}

/* filters */
.bar{
    grid-area: 1/2/1/4;
    display: flex;
    flex-direction: row;
    /* outline: solid #0D00A4; */
    margin-top: 1em;
    position: relative;
    gap: 1em;
    margin-right: 1em;
}

.filter{
    
    /* border: solid red; */
    top:0;
    bottom: 0;
    
    &:nth-child(1){
        width: 30%;
        border-radius: 5pc var(--g-c) var(--g-c) var(--g-c) ;
    }
    &:nth-child(2){
        width: 30%;
    }
    &:nth-child(3){
        flex-grow:1;
        /* outline: solid green; */
        border: 1.5px solid rgba(255, 255, 255, 0.577);
        border-radius: var(--g-c) var(--g-c) var(--m-c) var(--g-c) ;
    }
}

.options{
    /* background-color: #1C1C1C; */
    
    border: 1.5px solid rgba(255, 255, 255, 0.577);
    display: grid;
    position: relative;
    place-items: center;
}

.options .option{
    
    text-decoration: none;
    z-index: 0;
    position: absolute;
    inset: .4em;
    display:grid;
    place-items: center;
    
}
.option:is(#food,#do,#other,#comu,#choose):target{
    z-index: 1;
    /* outline: solid ; */
    border: 1.5px solid rgba(255, 255, 255, 0.577);
    display: grid;
    border-radius: 5pc var(--g-c) var(--g-c) var(--g-c) ;
    /* background-color: var(--white); */
    
}

.option#food:target{
    color: var(--black);
    background-color: rgb(255, 255, 104);
    /* position:absolute; */
    
}
.option#do:target{
    color: var(--white);
    background-color:rgb(42, 119, 42);   
}
.option#other:target{
    color: var(--white);
    background-color: rgba(237, 65, 13, 0.916);
}

.option#comu:target{
    color: var(--black);
    background-color: orange;   
}
.option#choose:target{
    color: var(--white);
    background-color: var(--blue);
}
#choose{
    color: blue;
    /* display:block ; */
    z-index:0;
    text-decoration: none;
    /* position:absolute; */
}

.glass{
    grid-area: 2/1/4/4;
    /* outline: solid forestgreen; */
    border-radius: 10em var(--m-c) var(--m-c) var(--m-c);
    display:flex;
    border: 1.5px solid rgba(255, 255, 255, 0.57);
    border-bottom: 0px;
    position: relative;
    align-items: center;
    justify-items: center;
    padding:2rem ;
    margin-left: 1em;
    margin-right: 1em;
    backdrop-filter: blur(7px);
    /* background-color: var(--black); */
    /* height: 100vh; */
    z-index: 1;
}
.glass::after{
    /content: "";
    position: absolute;
    width:30vw ;
    height: 60%;
    bottom: 0;
    left: 0;
    background-color: var(--blue);
    z-index: -4;
    filter: blur(20px);
    opacity: 90%;
    border-radius: 15em 15em 0em 0em ;
    border: 3px solid rgba(255,255,255,0.175);
    margin-left: 2rem;
    
}

/* .hidden-info{
    grid-area: 2/-1/4/-2;
    outline: solid orange;
    width: 0;
    border-radius: 10em 0em 0em 0em ;
    
} */

.M-I{
    display: flex;
    flex-direction: column;
    gap:.6em;

    .pink{
        /* outline: solid; */
        flex-grow: 1;
        margin: 0;
        border-radius: var(--g-c) var(--g-c) var(--m-c) var(--m-c) ;
        display: grid;
        place-items: center;
        border: 1.5px solid rgba(255, 255, 255, 0.577);
        background-color: rgba(255, 127, 80, 0.233);
        transition: var(--b-time) ease-in-out;
    
    }
    .pink:nth-of-type(2){
        border-radius:  var(--m-c) var(--m-c) var(--g-c) var(--g-c) ;
    }
    .pink:nth-of-type(n):has(input[type="radio"]:checked){
        background-color: #0D00A4;
        height: 30%;
        color: var(--white);
        /* scale: 1.05; */
    }

    .pink> input[type="radio"]{
        appearance:none ;
        
    }
 
    
}

.choose{
display: flex;
padding: .5em;
flex-wrap: wrap;
overflow:hidden ;
gap: .5em;
> label{
    /* outline: solid; */
    border: 1.5px solid rgba(255, 255, 255, 0.577);
    padding: calc(var(--g-c) - .3em);
    min-width: 2em;
    width: max-content;
    border-radius: calc(var(--g-c) - .6em);
    
}

}

.optionTwo:nth-of-type(n):has(input[type="radio"]:checked){
    background-color: #0D00A4;
    height: 30%;
    color: var(--white);
    scale: 1.05;
   
}

.optionTwo:nth-of-type(n):has(input[type="radio"])> input[type="radio"]{
    appearance:none ;
    
}

/* side info panel  */
.side-info{
    /* outline: solid; */
    position:absolute;
    margin: 0;
    bottom: 0;
    top:14em;
    display: block;
    width:24.9vw ;
    


}

.side-info > ul {
    background-image: url(/assets/DALL·E\ 2023-10-15\ 19.08.40\ -\ only\ the\ wall.png);
    background-color:#c7b79e;
    background-blend-mode: lighten;
    
    
    margin: var(--margin-s);
    list-style: none;
    display: grid;
    gap:1em;
    height:60vh ;
    overflow-y: hidden ;
    border-radius:var(--g-c) var(--g-c) ;
    border: 1.1px solid rgba(255, 255, 255, 0.577);
    backdrop-filter:blur(60px);
    /* box-shadow: inset .5px .5px 60px .1px rgb(186, 183, 183); */
}

.side-info li {
grid-area: 1/1;
margin: calc(var(--margin-s) - 10px);
border-radius:var(--g-c) var(--g-c) ;
border: 1.5px solid rgba(255, 255, 255, 0.163);

/* display: none; */
backdrop-filter:blur(10px);
padding: 8px;


&:nth-child(1){
    /* background-color: red; */
    
}
&:nth-child(2){
    /* background-color: green ; */
}
&:nth-child(3){
    /* background-color: blue ; */

}
&:nth-child(4){
    /* background-color: yellow ; */
    z-index: 2;
}
&:nth-child(5){
    /* background-color: orange ; */
}
}
    






